{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Portal Auto Equip
{% endblock  %}

{% block 'head' %}
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
{% endblock%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/baloes_msgm.css' %}" />
<section style="min-height: 100vh;">
</br>
<div>
    <h2 class="balao-mensagem gradient-animation">Olá {{ user.username }}, bem vindo ao portal! Aqui temos algumas informações gerais.</h2>
</div>

<div class="carrosel teste">
    <ul>

        <li>
            <div class="div-metas">
                <h1>Visão Geral dos Marketplaces</h1>

                <div class="two-columns">
                    <div class="left-column">
                        <h1>Metas atingidas:</h1>
                        <div class="tabela-400-altura">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Marketplaces</th>
                                        <th scope="col">Faturamento</th>
                                        <th scope="col">Meta</th>
                                        <th scope="col"> % Batida da meta</th>
                                        <th scope="col">Filial</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                                <h2>Mercado Livre</h2>
                                                <img src="{% static 'images/logomeli.png' %}" width='55' height='55'>
                                            </div>
                                        </td>
                                        <td><span id="fat_meli_sp">fat meli</span></td>
                                        <td><span id="meta_meli_sp">meta meli</span></td>
                                        <td><span id="meta_atingida_meli_sp">% meta</span></td>
                                        <td>SP</td>
                                    </tr>
        
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                            <h2>Loja Integrada</h2>
                                            <img src="{% static 'images/logoli.png' %}" width='55' height='55'>
                                        </div>
                                    </td>
                                    <td><span id="fat_li">fat li</span></td>
                                    <td><span id="meta_li">meta li</span></td>
                                    <td><span id="meta_atingida_li">% meta</span></td>
                                    <td>SP/SC</td>
                                    </tr>
        
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                            <h2>Magazine Luiza</h2>
                                            <img src="{% static 'images/logomagalu.png' %}" width='55' height='55'>
                                        </div>
                                    </td>
                                    <td><span id="fat_magalu_sp">fat magalu</span></td>
                                    <td><span id="meta_magalu_sp">meta magalu</span></td>
                                    <td><span id="meta_atingida_magalu_sp">% meta</span></td>
                                    <td>SP</td>
                                    </tr>
        
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                            <h2>Amazon</h2>
                                            <img src="{% static 'images/logoamazon.png' %}" width='55' height='55'>
                                        </div>
                                    </td>
                                    <td><span id="fat_amazon_sp">fat Amazon</span></td>
                                    <td><span id="meta_amazon_sp">meta amazon</span></td>
                                    <td><span id="meta_atingida_amazon_sp">% meta</span></td>
                                    <td>SP</td>
                                    </tr>
        
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                            <h2>Americanas</h2>
                                            <img src="{% static 'images/logoamericanas.png' %}" width='55' height='55'>
                                        </div>
                                    </td>
                                    <td><span id="fat_americanas_sp">fat Americanas</span></td>
                                    <td><span id="meta_americanas_sp">meta Americanas</span></td>
                                    <td><span id="meta_atingida_americanas_sp">% meta</span></td>
                                    <td>SP</td>
                                    </tr>
        
                                    <tr>
                                        <td>       
                                            <div class="celula-tabela-com-imagem">
                                            <h2>Shopee</h2>
                                            <img src="{% static 'images/logoshopee.png' %}" width='55' height='55'>
                                        </div>
                                    </td>
                                    <td><span id="fat_shopee_sp">fat Shopee</span></td>
                                    <td><span id="meta_shopee_sp">meta Shopee</span></td>
                                    <td><span id="meta_atingida_shopee_sp">% Shopee</span></td>
                                    <td>SP</td>
                                    </tr>
        
                                    <td>       
                                        <div class="celula-tabela-com-imagem">
                                        <h2>Mercado Livre</h2>
                                        <img src="{% static 'images/logomeli.png' %}" width='55' height='55'>
                                    </div>
                                </td>
                                <td><span id="fat_meli_sp">fat meli</span></td>
                                <td><span id="meta_meli_sp">meta meli</span></td>
                                <td><span id="meta_atingida_meli_sp">% meta</span></td>
                                <td>SP</td>
                            </tr>
        
                            <tr>
                                <td>       
                                    <div class="celula-tabela-com-imagem">
                                        <h2>Magazine Luiza</h2>
                                        <img src="{% static 'images/logomagalu.png' %}" width='55' height='55'>
                                    </div>
                                </td>
                                <td><span id="fat_magalu_sp">fat magalu</span></td>
                                <td><span id="meta_magalu_sp">meta magalu</span></td>
                                <td><span id="meta_atingida_magalu_sp">% meta</span></td>
                                <td>SP</td>
                            </tr>
        
                            <tr>
                                <td>       
                                    <div class="celula-tabela-com-imagem">
                                        <h2>Amazon</h2>
                                        <img src="{% static 'images/logoamazon.png' %}" width='55' height='55'>
                                    </div>
                                </td>
                                <td><span id="fat_amazon_sp">fat Amazon</span></td>
                                <td><span id="meta_amazon_sp">meta amazon</span></td>
                                <td><span id="meta_atingida_amazon_sp">% meta</span></td>
                                <td>SP</td>
                            </tr>
        
                            <tr>
                                <td>       
                                    <div class="celula-tabela-com-imagem">
                                        <h2>Americanas</h2>
                                        <img src="{% static 'images/logoamericanas.png' %}" width='55' height='55'>
                                    </div>
                                </td>
                                <td><span id="fat_americanas_sp">fat Americanas</span></td>
                                <td><span id="meta_americanas_sp">meta Americanas</span></td>
                                <td><span id="meta_atingida_americanas_sp">% meta</span></td>
                                <td>SP</td>
                            </tr>
        
                            <tr>
                                <td>       
                                    <div class="celula-tabela-com-imagem">
                                        <h2>Shopee</h2>
                                        <img src="{% static 'images/logoshopee.png' %}" width='55' height='55'>
                                    </div>
                                </td>
                                <td><span id="fat_shopee_sp">fat Shopee</span></td>
                                <td><span id="meta_shopee_sp">meta Shopee</span></td>
                                <td><span id="meta_atingida_shopee_sp">% Shopee</span></td>
                                <td>SP</td>
                            </tr>
        
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="right-column">
                        <div class="half-container">
                            <div class="half top-half">
                                <h1>São Paulo</h1>
                                <!-- Conteúdo da metade superior aqui -->
                            </div>
        
                            <div class="half bottom-half">
                                <h1>Santa Catarina</h1>
                                <!-- Conteúdo da metade inferior aqui -->
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            


        </li>

        <li>
            <div class="div-metas">
                <h1>Alguns dos produtos mais vendidos, não deixe faltar!</h1>

                <div class="two-columns">
                    <div class="right-column">
                        <div class="half-container">
                            <div class="half half-produtos">
                                <h1>São Paulo</h1>
                                <!-- Conteúdo da metade superior aqui -->
                            </div>
        
                            <div class="half half-produtos">
                                <h1>Santa Catarina</h1>
                                <!-- Conteúdo da metade inferior aqui -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </li>

        <li>
            <div class="div-metas">
                <h1>Próxima datas comemorativas, fique atento!</h1>

                <div class="two-columns">
                    <div class="right-column">
                        <div class="half-container">
                            <div class="half half-produtos">
                                <h1>São Paulo</h1>
                                <!-- Conteúdo da metade superior aqui -->
                            </div>
        
                            <div class="half half-produtos">
                                <h1>Santa Catarina</h1>
                                <!-- Conteúdo da metade inferior aqui -->
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </li>

    </ul>
</div>


<script>

</script>

</section>
{% endblock  %}