{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<nav data-pause="True">
  <a class="logo" href="/"><img src="{% static 'images/logoredonda.png' %}" height="50" width="50"/>Portal Auto Equip</a>
  <div class="mobile-menu">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>

    <ul class="nav-list">
      <li><a href="#">Início</a></li>
      <li><a href="#">Fulfillment Mercado Livre</a></li>
      <li><a href="#">Pós Vendas</a></li>
      <li><a href="#">Cadastro de Metas</a></li>
      <li><a href="#">Metas</a></li>
      <li><a href="#">Compras</a></li>
      <li><a href="#">Curva ABC</a></li>
      <li><a href="#">Precificação</a></li>
      <li><a href="#">Editar Perfil</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<script src="{% static "js/navbar.js" %}"></script>
