{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<nav data-pause="True">
  <a class="logo" href="/"><img src="{% static 'images/logoredonda.png' %}" height="50" width="50"/>Portal Auto Equip</a>
  <div class="mobile-menu">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>

    <ul class="nav-list">
      <li><a href="#">Início</a></li>
      <li><a href="{% url 'pagina:InformacoesFulfillment' %}">Fulfillment Mercado Livre</a></li>
      <li><a href="{% url 'pagina:PosVendas' %}">Pós Vendas</a></li>
      <li><a href="{% url 'pagina:Cadastro_metas_marketplaces' %}">Cadastro de Metas</a></li>
      <li><a href="{% url 'pagina:MetasComercial' %}">Metas</a></li>
      <li><a href="{% url 'pagina:Compras' %}">Compras</a></li>
      <li><a href="{% url 'pagina:CurvaABC' %}">Curva ABC</a></li>
      <li><a href="{% url 'pagina:dashboards' %}">Dashboards</a></li>
      <li><a href="{% url 'pagina:precificacao' %}">Precificação</a></li>
      <li><a href="{% url 'pagina:editarperfil' user.pk %}">Editar Perfil</a></li>
      <li><a href="{% url 'pagina:logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>

<script src="{% static "js/navbar.js" %}"></script>
