/* Balões gerais */

.balao-mensagem {
    color: black;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    margin: 20px auto; 
    position: relative; 
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    background-image: linear-gradient(45deg,#696969, #808080, #A9A9A9, #DCDCDC); 
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
}

@keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}


.balao-mensagem-sucesso {
    background: linear-gradient(to bottom, #34ac299c, #ace790); 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    margin: 20px auto; 
    position: relative; 
    height: fit-content;
    }
  
.balao-mensagem-erro {
    background: linear-gradient(to bottom, #e21304a9, #d18451); 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    margin: 20px auto; 
    position: relative; 
    height: fit-content;
    }


/* Carrosel animado homepage */

.carrosel{
    width: 80%;
    height: 60%;
    border-style: solid;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgb(0,0,0,0.7);
    overflow: hidden;
}

.carrosel ul{
    display: flex;
    list-style: none;
}

.carrosel li {
    position: relative;
    /* animation: slide 15s infinite ease-out; */
}
/* slide do carousel */
@keyframes slide {
    0%{left: 0px;}
    20%{left: 0px;}

    30%{left: -1601px;}
    50%{left: -1601px;}

    60%{left: -3201px;}
    90%{left: -3201px;}

    100%{left: 0px;}
}
/* Pausando o carousel caso o mouse esteja em cima */
.carrosel:hover li {
    animation-play-state: paused;
}

.tabela-400-altura {
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
}


.tabela-400-altura th{
    background-color: black;
    color: white;
}

.tabela-400-altura thead{
background-color: black;
color: white;
text-align: center;
}

.tabela-400-altura tbody {
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.tabela-400-altura tbody td {
    padding: 5px;
}

.celula-tabela-com-imagem {
    display: flex;
    align-items: center; /* Alinhar verticalmente */
}



.div-metas{
    background-image: linear-gradient(45deg,#696969, #808080, #A9A9A9, #DCDCDC); 
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
    width: 1600px;
    height: 600px;
}

.div-metas h1 {
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.two-columns {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 80%;
    padding-top: 10px;
    width: 90%;
}

.left-column {
    flex: 1;
    padding: 10px;
}

.right-column {
    flex: 1;
    background-color:transparent; /* Exemplo de cor de fundo para a parte direita */
}

.half-container {
    display: flex;
    flex-direction: column; /* Define a direção como coluna */
    height: 100%;
    align-items: center; /* Centraliza verticalmente os containers */
    border: 1px solid black; /* Apenas para ilustração, você pode remover isso */
    width: 100%;
}

.half {
    flex: 1;
    padding: 10px;
    height: 50%;
}

.top-half {
    background-color: #f0f0f0;

}

.bottom-half {
    background-color: #e0e0e0;
}